{%extends 'base.html'%}
{%load bootstrap4 %}
{%block content %}

<div class="container">
    <div class="row">
        {% if users%}
        <h2>Found {{ users|length }} under the username {{message}}</h2>
      {% else %}
        <h2> Found 0 users under the username of {{message}}</h2>
      {% endif %} 

    </div>

    <div class="row">
      {%for p in users%}
          <div class="card mt-4 mx-auto" style="width: 20rem; margin-right: auto;">
            <img class="card-img-top" src="{{p.profile_photo.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{p.user.username}}</h5>
              <p class="card-text">{{p.bio}}</p>
            </div>
          </div>
      
      {%endfor%}

    </div>





</div>




{%endblock%}