{%extends 'base.html'%}
{%load bootstrap4 %}
{%block content %}
<div class="container">
    <div class="row">
        <div class="card mt-4" style="width: 20rem; margin-right: auto;">
            <img class="card-img-top" src="{{image.image_location.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{image.image_name}}</h5>
              <p class="card-text">{{image.image_caption}}</p>
              <p class="card-text">Posted by:{{image.profile.user.username}}</p>
              <p class="card-text"><i class="fa fa-heart fa-2x" aria-hidden="true"></i>{{no_of_likes}}</p>
          </div>  
      </div>
    </div>
    <br>
    <br>
    
    <h2>COMMENTS</h2>
    {%for comment in comments%}
    <div class="row">
        <div class="card mt-4" style="width: 20rem; margin-right: auto;">
            <div class="card-body">
              <h5 class="card-title">{{comment.image_id.image_name}}</h5>
              <p class="card-text">{{comment.comment}}</p>
              <p class="card-text">Posted by:{{comment.user_id.username}}</p>
          </div>  
      </div>

    </div>
    {%endfor%}
</div>


{%endblock%}