{%extends 'base.html'%}
{%load bootstrap4 %}
{%block content %}
<div class="container">
    <div class="row">
        <div class="card mt-4" style="width: 20rem; margin-right: auto;">
            <img class="card-img-top" src="{{image.image_location.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{image.image_name}}</h5>
              <p class="card-text">{{image.image_caption}}</p>
              <p class="card-text">Posted by:{{image.profile.user.username}}</p>
          </div>  
      </div>
    </div>



{%endblock%}